li {
    margin: 0;
    padding: -2;
}

* {
  margin: 0;
  padding: 0;

  font-family: Helvetica, Arial, sans-serif;
}

body {
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #2f74d0;
}
a:hover {
  color: #7ab7e1;
}

#main {
  width: 650px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

#main h1 {
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

#main h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
}

#main h3 {
  margin-top: 2.25rem;
  margin-bottom: 0.75rem;
  color: hsla(0,0%,0%,0.9);
  font-family: 'Work Sans',sans-serif;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  font-size: 1.31951rem;
  line-height: 1.1;
}

#main p {
  color: hsla(0,0%,0%,0.8);
  font-family: 'Fira Mono',sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

#main a {
  color: hsla(0,0%,0%,0.8);
  font-family: 'Fira Mono',sans-serif;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: #1ca086;
  text-decoration: none;
  text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1px, #1ca086 1px, #1ca086 2px, rgba(0, 0, 0, 0) 2px);
}

#main ul, #main ol {
  margin: 20px;
}

#main li {
  font-size: 13px;
  line-height: 20px;
  margin: 1em 0;
}

#desc li {
  font-size: 13px;
  line-height: 10px;
  margin: 1em 0;
}

div.title {
  font-weight: bold;
}

img {
  margin-top: 7%;
  float: right;
}

